Repository ronny1020/podcast-player-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/** --fix, stylelint --fix, eslint --ext .html --fix, prettier --write

chore(ant design): install ant design
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(api): set up proxy
  .env
  src/env.d.ts
  vite.config.ts
Due: eslint src/** --fix

feat(router): set up
  src/App.vue
  src/components/HelloWorld.vue
  src/main.ts
  src/styles/index.scss
  src/styles/normalize.scss
Due: eslint src/** --fix, stylelint --fix

feat(rss): get data from rss api
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/assets/logo.png
  src/modules/podcast/application/updatePodcastList.ts
  src/modules/podcast/models/rss.ts
  src/modules/podcast/services/getPodcastList.ts
  src/modules/podcast/views/podcastList/PodcastList.vue
  src/router/index.ts
Due: eslint src/** --fix, stylelint --fix, prettier --write

feat(podcast): store data in pinia
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/main.ts
  src/modules/podcast/application/updatePodcastList.ts
  src/modules/podcast/services/getPodcastListRss.ts
  src/modules/podcast/store/podcastListStore.ts
  src/modules/podcast/views/podcastList/PodcastList.vue
Due: eslint src/** --fix, stylelint --fix, prettier --write

feat(podcast): add home page with header
  src/App.vue
  src/modules/podcast/views/PodcastHeader.vue
  src/modules/podcast/views/PodcastHome.vue
  src/modules/podcast/views/podcastList/PodcastList.vue
  src/router/index.ts
Due: eslint src/** --fix, stylelint --fix

feat(podcast): add description to header
  src/modules/podcast/views/PodcastHeader.vue
Due: eslint src/** --fix, stylelint --fix

feat(podcast): add episode item
  package.json
  pnpm-lock.yaml
  src/modules/podcast/models/rss.ts
  src/modules/podcast/views/podcastList/EpisodeItem.vue
  src/modules/podcast/views/podcastList/PodcastList.vue
Due: eslint src/** --fix, stylelint --fix, prettier --write

feat(episode): add episode page
  .eslintrc.json
  src/modules/podcast/domain/findEpisodeByGuid.ts
  src/modules/podcast/views/episodePage/EpisodePage.vue
  src/modules/podcast/views/podcastList/PodcastList.vue
  src/router/index.ts
Due: eslint src/** --fix, stylelint --fix, prettier --write

feat(podcast): add lazy load to list page
  src/modules/podcast/views/PodcastHome.vue
  src/modules/podcast/views/podcastList/PodcastList.vue
  src/router/index.ts
Due: eslint src/** --fix, stylelint --fix

feat(xml): set parser "ignoreAttributes: false"
  src/modules/podcast/domain/findEpisodeByGuid.ts
  src/modules/podcast/models/rss.ts
  src/modules/podcast/services/getPodcastListRss.ts
  src/modules/podcast/views/podcastList/EpisodeItem.vue
  src/modules/podcast/views/podcastList/PodcastList.vue
Due: eslint src/** --fix, stylelint --fix

feat(player): add customer player component
  src/modules/podcast/views/episodePage/CustomPlayer.vue
  src/modules/podcast/views/episodePage/EpisodePage.vue
Due: eslint src/** --fix, stylelint --fix

feat(player): player layout
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/modules/podcast/application/audio.ts
  src/modules/podcast/views/episodePage/CustomPlayer.vue
  src/modules/podcast/views/episodePage/EpisodePage.vue
  src/shared/utils/formateSecondsNumber.ts
Due: eslint src/** --fix, stylelint --fix, prettier --write

feat(title): change web title to "Podcast Player Demo"
  index.html
Due: eslint --ext .html --fix

feat(podcast): add back icon to home page
  src/modules/podcast/views/PodcastHeader.vue
Due: eslint src/** --fix, stylelint --fix

feat(podcast): add start play button
  src/modules/podcast/views/episodePage/CustomPlayer.vue
  src/modules/podcast/views/episodePage/EpisodePage.vue
Due: eslint src/** --fix, stylelint --fix

perf(podcast): back button use v-show instead of v-if
  src/modules/podcast/views/PodcastHeader.vue
Due: eslint src/** --fix, stylelint --fix

feat(podcast): change episode
  src/modules/podcast/domain/findTheGuidByEpisodeNumber.ts
  src/modules/podcast/views/episodePage/CustomPlayer.vue
  src/modules/podcast/views/episodePage/EpisodePage.vue
Due: eslint src/** --fix, stylelint --fix

Path conditions:
  eslint src/** --fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.scss)
  eslint --ext .html --fix: any of: *.html
  prettier --write: any of: *.{json,md}
